[package]
name = "cdylib"
version = "0.1.0"
edition = "2021"

[dependencies.dlopen-rs]
path = "../"
default-features = false
features = ["use-syscall"]

[dependencies]
ctor = "0.4.1"
env_logger = "0.11.6"

[lib]
name = "dlopen"
crate-type = ["cdylib"]
