name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: dtolnay/rust-toolchain@master
      with:
        toolchain: ${{ matrix.channel }}
    - env:
        TARGET: ${{ matrix.target }}
        CHANNEL: ${{ matrix.channel }}
        FEATURES: ${{ matrix.features }}
        OP: test
      run: sh ci/run.sh
    strategy:
      matrix:
        include:
          # Test all architectures with default features on stable
          - target: x86_64-unknown-linux-gnu
            channel: stable
            features: "use-syscall"
          - target: aarch64-unknown-linux-gnu
            channel: stable
            features: "use-syscall"
          - target: riscv64gc-unknown-linux-gnu
            channel: stable
            features: "use-syscall"
          # Test MSRV and non-syscall path on x86_64
          - target: x86_64-unknown-linux-gnu
            channel: 1.88.0
            features: "use-syscall"
          - target: x86_64-unknown-linux-gnu
            channel: stable
            features: ""
